.countdown-timer {
    width: 35rem;
    height: 5rem;
    border-radius: 45px;
    border: 2px; ;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
}

.two-numbers {
    width: 2ch;
}