.App {
  margin-right: 67px;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    position: fixed;
  
  }
  .come{
    
    width: 70px;
    height: 70px;
    margin-right: 10 px;
    margin-left: 10 px;
    
    position: fixed;
    padding: 10 px;
   
  
  }
  .hello{
    right: 57%;
    top: 30%;
    text-align: center;
    font-family: 'Lobster', cursive;
    position: fixed;
    word-spacing: .4rem;
   
    color: blue;
  }
  .hello1{
    font-family: 'Lobster', cursive;
  left:60% ;
  bottom: 30%;
    position: fixed;
    word-spacing: 1rem;
   color: blue;
  }
  
